@media (min-width: 85.25rem) { .site-title { font-size: 22px !important; }
  .main-header { width: 68.75rem; } }
.site-nav ul li a { background-image: linear-gradient(-90deg, #ebedf5 0%, rgba(235, 237, 245, 0.8) 80%, rgba(235, 237, 245, 0) 100%); }
